
<!-- Start Magzine Info -->
<figure id="magInfo" class="col-md-4 order-2 order-md-1 pt-md-0 mb-0">
	<img id="magCover" class="img-fluid rounded d-block mx-auto d-none d-md-block" src="{{webRoot}}/images/WCM_NEW_MAY_22.jpg" alt="Watercolor Artist Magazine" />
	<div class="my-3 p-3 mb-md-4 rounded bg-gray-dark text-center text-lg-start">
		<h2 class="mb-3 mb-lg-0 text-white"><small class="d-block fs-6 text-primary">Get a FREE GIFT when you</small>Subscribe to Watercolor Artist</h2>
		<figcaption class="small">
			Subscribe now and receive the exclusive digital download <i>Mary Whyte: Essential Lessons in Watercolor Painting</i>
		</figcaption>
		<img class="img-fluid rounded mt-3" src="{{webRoot}}/images/img-free_gift.jpg" alt="Free Gift" />
	</div>
	<div id="magPast" class="row pb-3 visually-hidden"> <!--\\\\\ Remove .visually-hidden class from this div if there's a free gift \\\\\-->
		<div class="col-12 p-3">
			<h6 class="m-0 text-uppercase text-gray-dark">Past Issues</h6>
		</div>
		<div class="col">
			<img class="img-fluid rounded" src="{{webRoot}}/images/past-issues/WCA_Summer22.jpg" alt="Summer 2022" />
		</div>
		<div class="col">
			<img class="img-fluid rounded" src="{{webRoot}}/images/past-issues/WCA_Spring22.jpg" alt="Spring 2022" />
		</div>
		<div class="col">
			<img class="img-fluid rounded" src="{{webRoot}}/images/past-issues/WCA_Winter22.jpg" alt="Winter 2022" />
		</div>
	</div>
</figure>